body {background: rgb(17,24,39);}

#flex_container {
	background: rgb(255,255,147);
	border: 0px solid ;
	border-radius: 20px;
	margin: 45px;
	padding: 45px;
	flex: 1;
}

.grid_box {
	display: inline-grid;
	grid-gap: 5px;
	grid-template-rows: 100px 100px 100px 100px 100px;
	grid-template-columns:  100px 100px 100px 100px 100px;
	grid-auto-rows: 100px;
	grid-auto-columns: 100px;
	background-color: #bdf;
	border: 0px solid;
	border-radius: 5px;
	/* align-items: center; */
	justify-content: center;
}

[id*='grid_item'] {
	display: grid;
	outline: 0px solid ;
	border-radius: 5px;
	background-color: #bdf;
}

[id*='grid_item']:hover {background-color:#b1d28f;}