body {background: rgb(17,24,39);}

#flex_container {
	background: rgb(255,255,147);
	border: 0px solid ;
	border-radius: 20px;
	margin: 5px 45px 45px 45px;
	padding: 25px;
	flex: 1;
}

#grid_box {
	display: inline-grid;
	grid-gap: 5px;
	grid-template-rows: repeat(10, 58px);
	grid-template-columns:  repeat(10, 58px);
	/* grid-auto-rows: 100px;
	grid-auto-columns: 100px; */
	/* grid-auto-flow: row; */
	background-color: #bdf;
	border: 0px solid;
	border-radius: 5px;
	/* align-items: center; */
	justify-content: center;
}

[class$='grid_el'] {
	display: grid;
	outline: 0px solid ;
	border-radius: 5px;
	background-color: #b1d28f;
}

[class$='grid_el']:hover {background-color:#bdf;}